.stats-grid:first-child::before  {
    content: '🔥';
    font-size: 40px;
}

.stats-grid:last-child {
    background: linear-gradient(to right, rgb(103, 103, 248), rgb(173, 33, 173) );
}

.stats-container .stats-grid:nth-child(3) .stat-number,
.stats-container .stats-grid:nth-child(3) .stat-label {
  color: white;
  }

  .stats-grid:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px;
  }

  .workout-plan:nth-of-type(2) {
  background-color: #FFF8BA;
  border-left: 5px solid;
  border-color: orange;
  }