.stats-grid:first-child::before {
    content: '🔥';
    font-size: 40px;
}

.stats-grid:last-child {
    background: linear-gradient(to right, rgb(103, 103, 248), rgb(173, 33, 173));
}

.stats-container .stats-grid:nth-child(3) .stat-number,
.stats-container .stats-grid:nth-child(3) .stat-label {
    color: white;
}

.stats-grid:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 30px;
}

.workout-plan:nth-of-type(2) {
    background-color: #FFF8BA;
    border-left: 5px solid;
    border-color: orange;
}

.exercise-item:first-child,
.exercise-item:last-child {
    background: #F0FFF4;
    border-left: 5px solid green;
}

.exercise-item:nth-child(2)::before,
.exercise-item:nth-child(3)::before {
    content: '⚡';
}

.goal-input-group input:focus,
.goal-input-group select:focus {
    border-color: blue;
    box-shadow: 0px 0px 0px 4px blue;
    outline: none
}

.save-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(to right, rgb(103, 103, 248), rgb(173, 33, 173));
    box-shadow: 0px 4px 10px blue;
}

.progress-bar {
    position: relative;
}

.progress-fill::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    content: '65%';
    position: absolute;
    transform: translateY(-50%);
    color: white;
    font-size: 13px;
    top: 60%;
    right: 5px;
}

.nav-footer .nav-item:first-child {
    background-color: #1c2733;
    color: rgb(126, 209, 236);
}

.nav-footer .nav-item:nth-child(2):hover,
.nav-footer .nav-item:nth-child(3):hover,
.nav-footer .nav-item:nth-child(4):hover {
    color: rgb(126, 209, 236);
    background-color: #1c2733
}

.quote-box:before {
    content: '"';
    position: absolute;
    font-size: 40px;
    top: 3%;
    left: 3%;
    color: rgba(255, 255, 255, 0.5);
}

.quote-box::after {
    content: '"';
    position: absolute;
    font-size: 40px;
    bottom: 30%;
    right: 3%;
    color: rgba(255, 255, 255, 0.5);
}